{% extends "base.html" %}

{% block title %}Distro{% endblock %}

{% block Navbar %}
  <a class="navbar-brand" href="index.php">Distro</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>          
  </button>

  <div class="navbar-collapse collapse" id="navbarsExample01" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#exampleModal" data-toggle="modal" data-target="#exampleModal">Add Publisher</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="initialisms/">Initialisms</a>
      </li>
    </ul>
  </div>
{% endblock %}

{% block content %}
<!-- Modal: Add Publisher -->
<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Publisher</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="publisher.php" method="POST">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">First Name</span>
            </div>
            <input type="text" class="form-control" aria-describedby="basic-addon3" name="firstName" value="">
          </div>
      </div>
      <div class="modal-footer">
          <input class="btn btn-primary" type="submit" name="add_publisher" value="Add Publisher">
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Nav: block, street and filter -->  
<ul class="nav">
  <li class="nav-item">
    <div class="dropdown">
      <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if statusFilter %}
           {{ statusFilter|capitalize }}
        {% else %}
           Not Received
        {% endif %}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="?filter=all">
          All
        </a>
        <a class="dropdown-item" href="?filter=received">
          Received
        </a>
        <a class="dropdown-item" href="/distro">
          Not Received
        </a>
      </div>
    </div>
  </li>
</ul>

{% if msg %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ msg }}
  </div>
{% endif %}

<ul class="list-group">
  {% for publisher in publishers %}
    <li id="publisher-{{ publisher.id }}" class="list-group-item">
      <a data-toggle="collapse" href="#collapse-{{ publisher.id }}" role="button" aria-expanded="false" aria-controls="collapse-{{ publisher.id }}">
        {{ publisher.firstName }}
      </a>
      <div class="float-right text-right">
        <ul class="list-unstyled">
          {% for standingRequest in publisher.standingRequests %}
            <li>
              <span class="badge badge-{{ standingRequest.color }}">{{ standingRequest.itemCode }}-{{ standingRequest.languageCode }} <span class="badge badge-pill badge-light">{{ standingRequest.quantity }}</span></span>
            </li>
          {% endfor %}
        </ul>
        <form action="publisher.php" method="POST">
          <input type="hidden" name="id" value="' . $record->getField('id') . '">
          <input type="hidden" name="firstName" value="' . $record->getField('firstName') . '">
          <input class="btn btn-outline-primary btn-sm mt-2" type="submit" name="received" value="Received">
        </form>
      </div>
      <div class="collapse mt-6" id="collapse-{{ publisher.id }}">
        <form action="publisher.php" method="POST">
          <input type="hidden" name="id" value="{{ publisher.id }}">
          <input type="hidden" name="firstName" value="{{ publisher.firstName}}">
          <input class="btn btn-outline-danger btn-sm btn-block mt-2" type="submit" name="delete_publisher" value="Delete Name">
        </form>

        <!-- Add Request -->
        <div id="alert-{{ publisher.id }}"></div>
        <h3>New Request</h3>
        <form ic-post-to="standing-request.php" ic-target="#alert-{{ publisher.id }}">
          <input type="hidden" name="id_Publisher" value="{{ publisher.id }}">
          <!-- Periodical -->
          <div class="input-group input-group-sm mb-3">        
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupSelect01">Item Code</span>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="itemCode">
              <option selected>Choose...</option>
              {% for itemCode in itemCodes %}   
              <option value="{{ itemCode }}">{{ itemCode }}</option>
              {% endfor %}
            </select>
          </div>
          <!-- Quantity -->
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupSelect02">Quantity</span>
            </div>
            <input type="number" class="form-control" aria-describedby="inputGroupSelect02" name="quantity" value="1">
          </div>
          <!-- Language -->
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupSelect03">Langauge</span>
            </div>
            <select class="custom-select" id="inputGroupSelect03" name="languageCode">
              <option selected>Choose...</option>
              {% for languageCode in languageCodes %}   
              <option value="{{ languageCode }}">{{ languageCode }}</option>
              {% endfor %}
            </select>
          </div>
          <input class="btn btn-outline-primary btn-block" type="submit" name="add-request" value="Add Request">
        </form>
      </div>
    </li>
  {% endfor %}
</ul>

  <div class="container">
    <p>{{ foo }}</p>
    <button ic-get-from="foo.txt" ic-target="#target-span">
    Click Me!
  </button>

  <span id="target-span">
    You haven't clicked yet...
  </span>
  </div>
{% endblock %}

